<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107736584744-kdthhc1gkbb3g7eb4ae2vi90tluvap3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107736584744-kdthhc1gkbb3g7eb4ae2vi90tluvap3q</string>
	<key>API_KEY</key>
	<string>AIzaSyABx3VIx7C0-cQ2tNht6uJ-w2Aan_RQGJA</string>
	<key>GCM_SENDER_ID</key>
	<string>107736584744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easyapps.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-e135f</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-e135f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107736584744:ios:0247c2775b73688cd49b1d</string>
</dict>
</plist>